[2019-12-19 02:46] tmedani opened #1 "duneuro integration & files organisation"
Hey @ftadel & @juangpc,

Sorry if you are getting many spams due to my recent activities in this repo.
I'm still learning how to use git and its fabulous features.

So to keep all the tracks on the code, this repo is connected to [another repo](https://github.com/tmedani/duneuro_interface):
(I discovered this funny git option 'submodule')

@ftadel  I will add you, it is a toolbox  called "[duneuro

[2019-12-19 13:58] ftadel commented on #1
Funny, maybe, but it doesn't look that easy to manipulate... I'll let you deal with this fancy feature and will only work with the repo brainstorm-tools/bst-duneuro :)

Yes, delete this subfolder bst_addons from this repo and open a PR to push them to the brainstorm3 repo.

Can you make sure it works without any functions outside of brainstorm3 and bst-duneuro folders?
(just remove the extra folde

[2019-12-20 02:23] tmedani commented on #1
ok, sounds good,
No, there is no emergency.

[2020-01-07 19:09] juangpc commented on #1
Hey,
I'm ready to work a little bit on the documentation. Is it ok if I push some changes here?

[2020-01-07 19:18] tmedani commented on #1
Everything & any contributions are welcome !!

[2020-01-22 16:58] juangpc commented on #1
Hi,

I've finished the documentation and during the following minutes will push some final versions of the compilation script.
I've managed to make it as simple and seamless as possible.
If you clone the repo and run
[code]
It downloads the source code, cleans previous builds (reduces the chances of problems during compilation), builds everything both for windows and Linux and finally copies the b

[2020-01-23 00:57] tmedani commented on #1
Hey there,

Thank you, @juangpc for this wonderful work.
I would say, this is a nice "compression" of the hard steps in one easy command.
I hope also that will be useful, we need to document all this.

Just a small comment, is it possible to change the "toto" folder to "brainstorm_app" os something similar?

I have checked, and update it.
The original files are in this repo: https://github.com/tme

[2020-01-23 01:03] tmedani commented on #1
@juangpc : for this part, we need to write a new interface that call original Duneuro Matlab binding.

[2020-01-23 11:18] ftadel commented on #1
@juangpc
I would be amazing to have something that simple working!

I tried to run your script on my WSL/Ubuntu, but it didn't work.
Before the long error log, two minor comments:
- The file config/setup_bst_duneuro.sh is not executable in the repo, easy to fix
- The script doesn't work if we call it from the config folder, it has to be executed from the bst-duneuro folder directly, which is not s

[2020-01-23 15:43] juangpc commented on #1
That's new. something not working.
I'll fix the issues.

[2020-01-24 22:11] juangpc commented on #1
Hi,
the script ```setup_bst_duneuro.sh``` :
- has a 777 permission scheme.
- works from wherever you want to call it from.
- it downloads builds and saves into bin/ the versions for windows and linux.

Hope it works.

The output will be a file named ```bst_duneuro_meeg_<<date>><<ext>>``` where <<date>> can, for instance, be "24_01_2020" and extension can be ".exe" in windows and empty in linux.

T

[2020-01-24 22:13] juangpc commented on #1
Ah! and toto->brainstorm_app...

[2020-01-24 23:36] tmedani commented on #1
Super @juangpc ... I will set up a new virtual machine and check it.
also, does it make sense to move the file:  src_vault.tar.gz to "config" folder

I have just added a way to call the exact 'binaries' from Matlab, assuming that the binaries of the linux and windows are the same (https://github.com/brainstorm-tools/bst-duneuro/commit/8476ca72d622cbc017eac63ee26426a4c3625211#r36958908).

also good

[2020-01-25 02:26] juangpc commented on #1
yes. that is actually a nice idea. and if the server is down we can
automate the unzip into src. all seamless to the indifferent user.

On Fri, Jan 24, 2020 at 5:36 PM Takfarinas MEDANI <notifications@github.com>
wrote:

--
Juan

[2020-01-27 10:26] ftadel commented on #1
Maybe there are things I didn't follow here, but this does not seem to be a very standard practice, and I'm not sure this is necessary because there is already a check done in Brainstorm itself (and the installation/update of these binaries will be done by Brainstorm in most cases).
When using Brainstorm, it will always ask to use the latest package of bst-duneuro available on the neuroimage webse

[2020-01-27 11:05] ftadel commented on #1
And regarding the compilation, I still have errors like these.
Is there anything I'm doing wrong?

[code]

[2020-01-27 17:07] juangpc commented on #1
Hi,
@tmedani I've added the feature of automatically unzip the vault file whenever the download process didn't work for any reason. I think it is much cleaner now.

@ftadel I think your problem is that you don't have installed pkg-config. Please do the following.

```sudo apt-get install git pkg-config cmake mingw-w64 g++-mingw-w64 libc6-dev-i386 python3-pip libeigen3-dev```

try calling ```setup_

[2020-01-27 22:01] tmedani commented on #1
Ok, then the user will not be aware about the duneuro binaries updates, I think also he doesn't need it.
@juan how should we proceed?

I think in any case, from the "coding" view, both versions will work.

[2020-01-27 23:28] juangpc commented on #1
OK @tmedani and @ftadel I see what you mean:
- *Production-wise*, the webhook captures binaries called bst_duneuro_meeg and bst_duneuro_meeg.exe from bin/ . So far so good.
- *Development-wise*, the problem is that the development environment is part of duneuro which is updated separately by another repository. So here is my solution:
1. The source is hard linked between the config/brainstorm_app

[2020-01-27 23:40] juangpc commented on #1
At some point Id like to try that git large file storage for the zipped src folder.

[2020-01-28 03:16] juangpc commented on #1
Hi, I've been reading about it. git large files support requires all collaborators to have installed the feature, otherwise, they'll just see a reference file not the actual file. Given it is just one file, and that the amount of forks in this repo is going to probably be... let's say, close to zero... I'm dropping my idea of using such a feature of git. Though it is one fine thing to know about.

[2020-01-28 17:29] tmedani commented on #1
@juangpc the files are already in the folder

sounds good.
 I think we are not going to change many time these binaries.

[2020-01-28 17:51] juangpc commented on #1
never say never.

On Tue, Jan 28, 2020 at 11:29 AM Takfarinas MEDANI <notifications@github.com>
wrote:

--
Juan

[2020-01-31 03:18] tmedani commented on #1
Hello,

@ftadel I updated the bst-duneuro folder, it's ready for your reviews.
I fully tested a simple EEG Duneuro computation using the Venant method.
(for fast debugging/testing, you can use the 3 layers head model with a coarse mesh and a basic source space, with less than 20 electrodes,  here is my testing model 👍
![image](https://user-images.githubusercontent.com/37831900/73510011-d15de080-43

[2020-01-31 13:38] ftadel commented on #1
They don't have any way of specifying the output folder?
It seems very unlikely that they designed their program so that it only works with the output data in the binary folder: binaries are most of the time supposed to be in folders where the user doesn't have the write rights... If there is no such feature, it should be reported to them and fixed.

We had coded optimized things like this for Ope

[2020-01-31 17:28] juangpc commented on #1
Hi,
This is so cool!! what you guys are doing with the meshes. It is great. 🥇

Regarding the discussion of saving the transfer matrix. I'm sorry to disagree but I do think that it makes a lot of sense to save it. For instance, one of the scenarios where this all might become truly useful is in seeg, where you might want to check different electrode positions before surgery. I think that, since it

[2020-01-31 18:31] ftadel commented on #1
How big is this transfer matrix?
With OpenMEEG, the temporary files we were saving were several hundreds of Mb, that were almost never used. That was another reason not to keep it. The databases are big enough, if we can save a few Gb here and there, it's always interesting.
If it's big, maybe we can make it an option to save it (since we'll already need an option panel, it wouldn't cost much to h

[2020-01-31 19:00] tmedani commented on #1
Not too big, its size is [Number of Sensor X **Number of Source**]

From this answer, I think I wrote something wrong in my previous post, sorry guys!.
The transfer matrix depends on the FEM source model and not the source space (also source model but does not mean the same thing!).
It's confusing me, and for sure I confused you... Sorry!
I need to review the theory and I will come back to you wit

[2020-01-31 23:19] juangpc commented on #1
Hi, I've been doing some testing the cpp app seems to work.

Nice input Tak. Yes I now have a way to specify the output folder within the .ini file
![image](https://user-images.githubusercontent.com/8955424/73580739-4390fc80-444c-11ea-8bc5-8a838a4f2643.png)
And it works.
I still need to push a few details but it seems to be working. I'll push it sometime next week.

But I guess, now my question is

[2020-01-31 23:43] tmedani commented on #1
Hi @juangpc ,
This is super! bravo.

For your question

As it is implemented now, when it's needed,
bst-duneuro toolbox will be download and installed on
` .brainstorm\
`
and when the FEM is called,  all the temporary folders (dipole, electrode, mesh ....) will be saved to
`  .brainstrom\tmp
`
for now, only the binaries outputs are on
` bst-duneuro\bin
`
but with your modification, they will be al

[2020-01-31 23:53] juangpc commented on #1
ok thanks

how do we transform .brainstorm/tmp into something the cpp app will
understand?

the app only knows either absolute paths or relative to from where the app
is running from, which in our case will be from where matlab is calling it
from. and that info needs to be inside the text ini file and correct for
every brainstorm/matlab installation.

On Fri, Jan 31, 2020 at 5:43 PM Takfarinas MED

[2020-01-31 23:56] juangpc commented on #1
Or maybe from were th binary file is? need to check it and test it. but
this is why the input option seems a bit less complicated.

By the way... if the user wants to modify other options in the ini file,
how will bst modify it?

On Fri, Jan 31, 2020 at 5:53 PM Juan <juangpc@gmail.com> wrote:

--
Juan

[2020-02-01 00:13] tmedani commented on #1
This is already the case for the temporary file, here is an example :
https://github.com/brainstorm-tools/bst-duneuro/blob/7b7d0bb260b691ab6298ac3927ff64dbc6b7e802/matlab/write_duneuro_minifile2.m#L49

Since the app can read the input files, I think it could also write.

Yes, it will work on any machine, it's not an absolute path, but related to the installation/pc.
bst can manage this.

Good ques

[2020-02-03 11:44] ftadel commented on #1
The temporary folder is not necessarily inside the $HOME/.brainstorm folder. One typical use case on Linux is to have a limited amount of space available in the $HOME folder. It is possible to change the temporary folder from the brainstorm preferences. Therefore you can't guess where the temp folder would be, it has to be an input parameter easy to edit. So probably better if there is a command o

[2020-02-03 11:48] ftadel commented on #1
I can start working on it this week if you want.
Do you already have some options you'd like to change?
If so, please list the names, types and possible values for each option.

[2020-02-03 18:23] tmedani commented on #1
Hi @ftadel,
I will work on that asap, maybe not this week.
I would like to finish the validation of the MEG computation within brainstorm first.

[2020-02-04 18:15] juangpc commented on #1
Hi,
Just pushed the working binaries.
- The rebuilding tools are working just fine. With a single command (```setup_bst_duneuro.sh rebuild all duneuro-matlab``` I get both win and linux ready, only rebuilding the minimally needed. At some point, I'll try to add mac to the tool.
- @ftadel, the option to include an input folder spec in the command line worked fine. I did some testing yesterday and i

[2020-02-04 18:36] tmedani commented on #1
Hi @juangpc ,
Great for the updates on the  CPP, thanks.

@ftadel this may involve some changes on the way of brainstorm call duneuro,
It needs to be updated according to the new version!

Have you started reviewing the code from your side?

It's much faster to read all the input data (mesh, tensors, sensors,  and sources) and then construct the duneuro driver on one-shot both for combined EEG and

[2020-02-05 03:25] tmedani commented on #1
Hello,
Regarding our last discussion,

**The right answer is : [Number of Node X **Number of Sensor**]**

So, my first explanation was correct, https://github.com/brainstorm-tools/bst-duneuro/issues/1#issuecomment-580563742

My error was in the second response where my answer confused my thoughts.
My previous answer refers to the size of the LF matrix with a constrained orientation and not to the

[2020-02-05 13:13] ftadel commented on #1
@juangpc

What's a reasonable command-line call? We don't care much about how many inputs parameters we have if this is all written automatically. OpenMEEG calls can be quite invasive as well.

If is OK to pass parameters through a .ini file, as long as this ini file is always with write access. It can't be located in the bin folder (which might be read-only), Brainstorm should be able to write th

[2020-02-05 19:10] tmedani commented on #1
Hello,
So regarding the ini file,

in bst-dueneuro I wrote some functions dedicated to write the ini for duneuro.

https://github.com/brainstorm-tools/bst-duneuro/blob/master/matlab/write_duneuro_minifile2.m

These functions can convert all the input from brainstorm to the ini file
and then can be saved in any place.

So, with the new modification on the binary, no data will be saved on the bin.
a

[2020-02-05 22:42] juangpc commented on #1
Hi both,
I appreciate your attention to this Francois. I just want to make it work
which ever way you guys think is most desirable.

About the call. True. Even simnibs' call to matlab is like a big paragraph.
But it is also true that we are already using ini file to set a whole bunch
of parameters, so why not use it. I have implemented this option following
Taks ideas.

I've just pushed the follow

[2020-02-06 00:44] tmedani commented on #1
Hey La Team,

@juangpc  thanks for the last updates, this is great.

I have just pushed the last updates that take into account the new modification on the Duneuro applications.

There is a slight error in the concatenation of the outputfolder + nameOfFile (there is no separator)
I solved this from the ini file, so it should be fine for now.

https://github.com/brainstorm-tools/bst-duneuro/blob/d5

[2020-02-06 12:15] ftadel commented on #1
Let's consider this a regular case. You have no idea how messy people can be, spaces and weird characters in folder names are common.
You should find a robust way to make this work. Typically all file and folder names should be passed with double quotes around them (eg. "C:\Program Files\brainstorm3\...")
It's sometimes a bit of a headache to escape correctly the strings when they are evaluated su

[2020-02-06 16:52] juangpc commented on #1
Hi,
doing some testing. there is a class called "parametertreeparser" and it should handle correctly either single or double quotes. So you can use the if you want.
However the parser is working fine, I think the problem is actually later in the code, when opening some of the filews, not actually in the parser.
So, @tmedani could you try to add double \\ instead of a single one. This might help th

[2020-02-06 17:08] juangpc commented on #1
I solved this from the ini file, so it should be fine for now.

@tmedani sorry I'm not following. What is the error?

[2020-02-06 17:14] tmedani commented on #1
The name of the output files from the binaries, a separator is missing during the concatenation between the outputfolder and the name of the file
example:  outputfile = C:\Users\33649\.brainstorm\tmpeeg_lf.dat
instead of : outputfile = C:\Users\33649\.brainstorm\tmp\eeg_lf.dat

[2020-02-06 17:16] tmedani commented on #1
my turn :
I did not understand how to do it?
could we chat on skype?

[2020-02-06 19:42] juangpc commented on #1
Hi @tmedani, sorry I wasn't understanding you.
After several tests I can confirm that if you put a path in the ini file either as a text, with or without spaces, or using single or double quotes, it will be parsed correctly and used.

But as I understand it right now, the problem is in fact inside matlab, not the cpp. The way matlab handles the spaces... I'll show you the fix so you can solve the

[2020-02-06 19:43] juangpc commented on #1
By the way, we need to update the help message!

[2020-02-07 00:40] tmedani commented on #1
Super Juan .... thanks for the super-review.
I have just updated the function call.

indeed... still a lot to do...

[2020-03-20 22:14] juangpc commented on #1
Hi all.

Its been quite painful to adapt the code to run in a mac. I'm writing this to inform you and also as a reminder for myself in case I need to go through this _fantastic_ experience of adapting code designed for a different OS, again.

There were some random errors and some need for _static_ allocations, and other things.
There seems to be a problem in the EEG transfer method, because after

[2020-03-20 22:21] juangpc commented on #1
Windows, Linux and Mac binaries can be found in the ```test/``` folder, as of 3a57e61af120d5d2487e7e4d3971fbef4dec53b9

[2020-03-22 06:32] tmedani commented on #1
Thank you @juangpc for this detailed report, and for the lot of efforts that you put to make it work...

If I understand, I have to updates the call for the binaries from bst_duneuro...
now the MAC app is not the same as the Linux.

I will updates this asap.

Thank you...  take care and stay safe all of you ...
I hope that this nightmare will finish soon.

[2020-03-23 22:03] juangpc commented on #1
HI @tmedani , yep.

If you look in /bin folder you will see 3 binaries now for all mayor x64 OS. We agreed (I trhink) to keep these 3, right? The code is practically unchanged between mac and linux, but the binaries are different.

There were some problems with a pointer and a few other minor things. Also, another issue was that macos "sed", is _surprisingly_ not equivalent to gnu's. It took a whi

[2020-03-24 12:08] ftadel commented on #1
@tmedani @juangpc
I'd like to start working on cleaning, packaging and testing bst-duneuro.

We need to split what is currently on brainstorm-tools/bst-duneuro in two:
1) on one side, we keep what is strictly necessary for Brainstorm to compute a FEM forward model: this is downloaded automatically when needed as a .zip file generated automatically on the neuroimage server by some PHP scripts. At t

[2020-03-24 15:52] juangpc commented on #1
Hi there,
As far as I understand it, _strictly necessary_ is just:
1. contents of the binary folder, only one binary for each OS.

![image](https://user-images.githubusercontent.com/8955424/77440967-eadc4100-6db6-11ea-94cc-c5f5f0476a17.png)

Why not running some kind of:
[code]

As usual  @ftadel I don't intend to mind the way you like to write bst or matlab code in general. What I want to do is l

[2020-03-24 15:55] juangpc commented on #1
I forgot to mention other things you need. So _strictly necessary_ is:

 - binary app. (previous post).
 - ini configuration file.
 - all the necessary channel location, source model, head model, etc... that go with the fem computation.

[2020-03-24 17:33] tmedani commented on #1
Hey @ftadel @juangpc

great, please let me know when you will start.
I will push the last changes and stop working on them.

in order to keep the actual development (DTI/anisotropy) I prefer the option 2,
instead, to remove files we can put all the "not needed" files on the "dev" folder and when validated we can move to the users' version and we will clean the rest.

@ftadel  does it work for you?

[2020-03-24 17:42] tmedani commented on #1
@juangpc

How this is possible?
just by using different machines?

I have Linux and windows but nor mac, I will try to test on these machines asap.

also, we will have at least one student from Carsten's group who will start working with this tool and we can have their feedback.

[2020-03-25 11:12] ftadel commented on #1
@tmedani

Yes, please do.
Everything outside of the /dev folder, I might rewrite, reorganize and rename, or even delete if it does not appear to be needed in Brainstorm...  :)

@juangpc

Where do you want to put this code? I don't understand why you want to re-download the macos binaries, and only the mac binaries, while there is already a mechanism in place that download the three executables at

[2020-03-25 15:09] juangpc commented on #1
Hi,

The "only mac" was because that's the only case I coded, but I meant to show the snippet as an example. Just to do the same for all 3 major platforms.

Regarding the other mechanisms in place:

I understand from the code, and from this message, you shared a few weeks ago (previous paragraph). That every time something is pushed to the repo, a copy of the binaries _and only the binaries_ is sa

[2020-03-25 15:27] ftadel commented on #1
No. When something is pushed to the bst-duneuro repo, it calls a packaging script that clones and zips the ENTIRE repository and makes it available on the Brainstorm download page:
https://neuroimage.usc.edu/bst/download.php

When Brainstorm needs to get bst-duneuro, it gets from there, with a different PHP script but reading the same .zip file:
https://github.com/brainstorm-tools/brainstorm3/blob

[2020-03-25 18:01] juangpc commented on #1
I'm not understanding you. You only need an internet connection and use urlread/webread/websave  to download a file. You **do not** need git installed. And the disconnection from what is happening in the git repo is done by fixing a hash value in the actual url. But, anyhow, if this is how you want it to work, that is just fine too. Thanks for the explanation anyway.

Regarding the ```/dev``` fold

[2020-03-26 09:19] ftadel commented on #1
Yes, we could leave everything the way it is now if simpler for you, but it is not very intuitive to understand what is the "brainstorm plugin" (matlab scripts + compiled binaries) and what is "your development environment" (everything else). These are two different subprojects of this repository.
I'm not thinking only about our own current organization (we know what we're doing), but about any ne

[2020-03-26 15:15] juangpc commented on #1
Yes,  this works. Thank you very much.
I've added some of these details to the readme file. A bit wordy, but, following your concerns, if we or some new team member wants to work on this, she should now be able to figure things out easier.

[2020-03-26 15:17] ftadel commented on #1
@tmedani Ok for you as well?
What is the status of the .m files in the root of the repository?

[2020-03-26 15:23] tmedani commented on #1
@ftadel , yes agree,

there some some nonuseful functions on root.
let me clean the folder before you start working on it,
I will do it today (in a few hours).

[2020-03-27 15:25] ftadel commented on #1
FYI: I modified the packaging script (which is called when something is pushed to the bst-duneuro repo), so that it zips two subfolders only: **/bin** and **/matlab**.  Everything else is just ignored.

The "brainstorm plugin" which is downloaded automatically by Brainstorm when needed (also available at the bottom of the download page: https://neuroimage.usc.edu/bst/download.php) is now only **9M

[2020-03-27 15:29] juangpc commented on #1
Thanks!

[2020-04-03 14:33] juangpc commented on #1
Hi @tmedani and @ftadel ,
Hope you and your families are not directly affected.
Few things:
- Just figured out that we actually don't need the duneuro-matlab any more. Just the duneuro module would be enough.
- And also now that my fluency with c++ is increasing, I think that all the physical flux related functions could start to work.
- The simbiosphere related solutions would also be accessible

[2020-04-03 14:50] ftadel commented on #1
What do you mean? Nothing in the /matlab folder is actually needed to compute a FEM forward model with duneuro?

I'm not sure what it entails. Maybe this is more a question for @tmedani?

[2020-04-03 17:08] juangpc commented on #1
No, sorry for the confusion. This might be a bit into the details, but here it is... Dune is the linux only project that we are using for fem. Actually a sub-project of that one called DuNeuro. This subproject can run in two different ways now: as a c++ application and as a mex file to be used within matlab api... with a catch... it only works for matlab's linux version... This last one, the matla

[2020-04-03 18:08] tmedani commented on #1
Hey,

@ftadel  this is related to the hidden nightmare of the compilation.

@juangpc this is great ... I know that it's possible but never manage to do it...
how do you do it ? is it related to changes on the cmakelist of the duneuro modules?

Then, with this, it would be better to avoid to clone the matlab module and move all the brainstorm_app from duneuro_matlab to duneuro module?

we can also

[2020-04-03 19:36] juangpc commented on #1
yes. modifying some paths. and the cmake tool.

we can also keep an option that creates the mex file ... for advanced users who want to use Linux
does it make sense?

Given this repo is for brainstorm use... I would say that it is better to stay away of the mex api.  However, if you guys want to duplicate the fem functionality for the case of linux based brainstorm users, the function would end up

[2020-04-03 19:51] tmedani commented on #1
great ... let have a look ... later

no need to change all the process, it could be faster ... but how much?
it needs more investigation and more work...
also the user needs to compile the duneruo for its self... maybe useful for developers

however, changing the brainstorm_app folder to duneruo_module could be nice.

[2020-04-03 20:07] juangpc commented on #1
Ok. Will do. (don't know when, though).

Juan

On Fri, Apr 3, 2020 at 2:51 PM Takfarinas MEDANI <notifications@github.com>
wrote:

[2020-04-21 10:55] ftadel opened #2 "MEG: Could not open file "coil_model.txt""
I can't compute a FEM model for MEG.
Am I doing anything wrong?

Files saved in the temp folder:
[tmp.zip](https://github.com/brainstorm-tools/bst-duneuro/files/4509473/tmp.zip)

Output in Brainstorm:
[code]

[2020-04-21 12:06] tmedani commented on #2
Hello,

It seems that duneuro can not read the "coil_model.txt",
from the mini file :
...
[coils]
filename = coil_model.txt
[projections]
filename = projection_model.txt
...

I think you need to add the full path to name as it's the case for the dipole for example

[dipoles]
filename = C:\Users\franc\.brainstorm\tmp\dipole_model.txt

either for coil and projection.

Could you try with this?

[2020-04-21 12:50] ftadel commented on #2
Oops, indeed, I didn't catch that.
It's fixed now, thanks.

[2020-04-21 12:50] #2 closed

[2020-04-21 13:39] ftadel opened #3 "Error: geometry adaption needs dune-subgrid?"
Input files:
[tmp.zip](https://github.com/brainstorm-tools/bst-duneuro/files/4510318/tmp.zip)

Error message:
[code]

[2020-04-21 13:45] ftadel commented on #3
FYI: I removed the GeometryAdapted parameter from the interface, and instead detect it from the FEM mesh file, either from the parameters string if available, or directly from the geometry:
https://github.com/brainstorm-tools/brainstorm3/commit/698b2c383ed32f5ed2d38235d29b308fe7275bc1

[code]

[2020-04-21 19:42] tmedani commented on #3
@juangpc did you have the same errors when you tested the application the 'eeg_transfer_cg_0000.ini' or 'eeg_transfer_cg_0002.ini'?

[2020-04-21 20:19] juangpc commented on #3
No, when testing with 0001.ini but I've never tested it with 0002.ini?

Do we need this? I could try to add the dune-subgrid module.

[2020-04-22 02:33] tmedani commented on #3
Hey Juan,
yes please, it seems that with the geometry adaptation the subgrid module is required.

I have checked on their fieldtrip-duneuro workshop and they used geometry adapted.

I will double-check with Sophie.

[2020-04-22 13:56] ftadel commented on #1
@juangpc FYI: I tested the compilation of the bst-duneuro binaries following your instructions in the README on Windows10 and WSL/Ubuntu18 and both worked at the first attempt! Nice

[2020-04-22 17:37] juangpc commented on #3
Hi,
As we saw yesterday, in order to have the geometry adapted we need to add this subgrid module to the whole compilation process.

I tried yesterday until late to try to have the thing running... and... it was an error after another. the meta-programming kills me man. they auto and template like mad. The module uses boost (a well known computational c++ library) so now you need to install that t

[2020-04-22 17:58] juangpc commented on #1
😅

[2020-04-22 20:55] tmedani commented on #3
hey Juan,

I know how it's complicated to solve it.

We can submit an issue to Dune/Duneuro git lab and we can have an orientation to solve it.

[2020-04-22 21:03] juangpc commented on #3
I'm already working on it. Already solved many compilation errors. But more keep popping. do you know if this module is used at all? There are many compilation errors. some could be related to clang... but others I'm not so sure.

[2020-04-22 21:06] tmedani commented on #3
no idea at all ...

it's weird since it's not on the dune repo as the others.

I will ask the Germans' team.

[2020-05-06 16:41] tmedani commented on #3
@juangpc  do you have any updates on this error?

thanks

[2020-07-03 18:32] tmedani opened #4 "Optimization : input files for duneuro"
Hello,

This is in the todo list and we can discuss it here, low priority but important.

right now, the input for duneuro are ASCII files,
From brainstorm, in the case of the isotropic model, we use the *.msh
file for the geometry and *.cond for the conductivity and in the case of the anisotropy, we use the Cauchy files (.knw and .geo).

The w/r of these files takes ~10 to 30 min in the case of t

[2020-07-03 18:53] martcous commented on #4
Thank you Takfa, I am a bit of an outsider on this project: is there a technical specification for the ASCII duneuro input data files and the Vista format? The link you provided seems to only describe the Simbio .par parameter file.

If there are open formats used in other software such as Vista in Simbio I agree it would be best if this can be adopted, perhaps there are even open source IO functi

[2020-07-03 19:05] tmedani commented on #4
Hi @martcous,

Thanks for your feedback.

Indeed there is no much online documentation about the file format that we are using and even on the vista file.

I found some of these files and few pdf files that explain some part here
https://sourceforge.net/projects/neurofem-simbio/files/

I will check with the German group if there are any other links for documentation.

Furthermore, I have checked a

[2020-07-06 17:05] juangpc commented on #4
Hi everybody.
Few comments.
- Let's do this.
- Before I start. Few considerations.

  -> We've used binary files so far in the project to avoid rounding errors while converting floating-point values back and forth. John pointed out this problem at an early stage and although you can use text files and make the rounding errors pretty much disappear if yo do things nicely, I agree that it is more el

[2020-07-06 18:30] ftadel commented on #4
In Matlab, reading/writing floating points in text fields is indeed terribly slower than binary files (because of the conversion, a lack of optimization, and also simply because the files are much bigger). I've been facing this problem many time.
Indeed, using a binary files instead would make it a lot faster, at least for the Matlab part.
Adding more I/O file formats is usually not too complicate

[2020-07-06 19:04] juangpc commented on #4
Great!

Indeed, using a binary files instead would make it a lot faster, at least for the Matlab part.
Adding more I/O file formats is usually not too complicated, with no risk for the rest of the API.

Aha. I didn't know that. Thank you.

For the duneuro part, linux and darwin will work pretty much out of the box. windows... 😟 complicated.

1. Yes. I can do this. Well, I don't want to underestima

[2020-07-07 20:03] tmedani commented on #4
Hello all,

Nice to read all these relevant comments and learn these new things here :).

If I can add some comments, regarding the previous steps of this project,
Duneuro offers a matlab (and python) interface with mex files while all the data are passed by memory (matlab matrix input and output) without using any input and output files.

http://duneuro.org/  ==.at the section documentation

Howe

[2020-07-07 20:15] tmedani opened #5 "Duneuro Optimization 2 : managing parallel computation / Multithreading for duneuro computation"
Hello again,

This is another point in the todo list.

In order to speed the FEM computation, we need also to add some options to control the parallel computation.

I have never checked that before on DUNEuro, but as far as I know, this is possible in DUNE,
then probably possible also in Duneuro.

I will post the new updates and related links asap.

A+

[2020-07-08 10:36] ftadel commented on #4
I'd vote against optimizations that would require 1) the users to compile something on their computers or 2) doesn't work on windows. It's probably better to have something slower but easier to deploy.

[2020-07-15 07:45] juangpc commented on #4
Hi all,
I've been able to work on this and finish an initial approach. Here is a benchmark for random data being saved with the original function that is right now in bst ```out_fem_mesh``` and an equivalent c implementation ```out_fem_mesh_mex```. I've gone up to 25 million vertices, which is probably higher than what we can ever expect.

All the times reported are for a mac book pro (which has a

[2020-07-15 12:10] ftadel commented on #4
I'm a bit confused because I thought that you wanted to use MEX files to avoid writing the msh file on the hard drive, and pass it directly in memory to duneuro. This benchmark does not respond either to the main optimization proposed by @tmedani in this issue, which was to use binary instead of text for the other files. But thanks anyway, this is good to know.

Would you ever use more than 1 mill

[2020-07-15 15:50] juangpc commented on #4
So, maybe I'm the one confused. But I'll explain the way I see it. Right now DUNEuro based tool is based on DUNE which only opens the mesh files as text ```msh``` files. So the entry point to the forward model solver is always a text file. Given this, we can either:
(i) save mesh file as text with matlab and open with duneuro as it is working right now.
(ii) save as binary within matlab and modify

[2020-07-15 16:43] ftadel commented on #4
If **you** think it can help, go ahead with further integration.
You have a full control over this piece of software :-)

[2020-07-15 18:46] tmedani commented on #4
Hi

@juangpc

here is the results in my computer, starting from 1.000000e+05 vertices

[code]
-----------------------------------------------------------------------

[2020-07-15 20:14] tmedani commented on #4
Hi all,

Always I'm learning new things here :)

It is nice to know that some MEX API can be much faster than the current Matlab code and since the mex can work on all platforms maybe it worth it.

few comments regarding the discussions,

From Juan tests, it seems that I overestimated the computation time, these numbers come from my previous discussions with the Duneuro team, and also from the bas

[2020-07-22 00:37] tmedani opened #7 "Errors with duneuro"
Hi,

Just to report the different errors that we may face in the next future.

Here is one, using a high-density mesh and strat the computation for EEG,
[code]
I will check it, but it seems that the dipole 8333 is outside of the brain or it can be something else!

let's see

A+

[2020-07-23 03:27] tmedani commented on #7
Here is another error that appears in some case when we use high mesh densities with the MEG

[code]

[2020-08-02 10:45] ftadel commented on #7
@tmedani You assigned me this task, but I'm not sure how I can help with this...

[2020-08-02 23:41] tmedani commented on #7
Hi, @ftadel indeed,

maybe you can't for the Cpp core code, but you have always good advice :)

We will probably have feedbacks from users in the future that reports same errors, we will try to solve them here or ask the Dune/Duneuro team.

[2020-08-12 21:45] tmedani commented on #7
Another error happening with the hexa mesh without the shift

CondFile =

    'C:\Users\33649\.brainstorm\tmp\conductivity_model.con'

DUNEURO> System call: "C:\Users\33649\.brainstorm\bst_duneuro\bin\bst_duneuro_meeg_win64.exe" "C:\Users\33649\.brainstorm\tmp\duneuro_minifile.mini"
DUNEURO> Error log:
UGGridParameterBlock: Parameter 'closure' not specified, using default: 'GREEN'.
UGGridParameter

[2020-09-11 10:14] chr-engwer commented on #3
I'm sure it does not use boost.

yes, Carsten (Gräser) is using it on a regular basis and some people here use it also in their `duneuro` pipeline.

[2020-09-16 16:27] chr-engwer commented on #7
@tmedani I checked your hex-file error.

1. this is not a valid hex file. the numbering of your vertices is broken. Please adhere to the [vertex numbering scheme](https://www.dune-project.org/doxygen/master/group__GeometryReferenceElements.html) of DUNE.
1. it might be better to use the sub-entity center search instead of the normal projection, as you have a structured (voxel) mesh
1. instead of w

[2020-09-16 16:43] chr-engwer commented on #7
Here you see the wrong setup. I assume you used the cycling numbering in the bottom and top plane?! DUNE uses a tensor-product numbering.
![wrong-cube](https://user-images.githubusercontent.com/14291470/93367125-642b8c80-f84c-11ea-92e8-75cbd5801fb1.png)

[2020-09-16 17:22] juangpc commented on #7
Can I suggest to center development on the gitlab side? It was us who created this repo, but at this point, why don't we concentrate all DUNEuro related stuff there and keep here the issues directly related with the interaction with brainstorm.
Just asking.

[2020-09-16 17:58] chr-engwer commented on #7
I have put this information here, as this is not a duneuro issue, but a matlab/bst issue. But feel free to move the issue to gitlab if you like.

[2020-09-16 22:11] tmedani commented on #7
ok, I did not notice that, I'm using duneuro with the same mesh as for the SimBio.

ok, @juangpc  I will move this issue the duneuro gitlab asap

[2020-09-17 06:03] chr-engwer commented on #7
On Wed, Sep 16, 2020 at 03:12:08PM -0700, Takfarinas MEDANI wrote:

No, you wrote a dgf file, which is definitely not understood by SimBio. But I guess the code is copy-and-paste from the SimBio export.

Please keep the issues where they belong. This is not a problem of the C++ code. It is something you need to fix in your matlab code.

Ciao
Christian

[2020-09-17 06:06] chr-engwer opened #8 "Hex-mesh export broken."
The numbering of vertices in exported hex meshes is broken. It does not adhere to the [vertex numbering scheme of DUNE](https://www.dune-project.org/doxygen/master/group__GeometryReferenceElements.html).

I assume you used the cycling numbering in the bottom and top plane?! DUNE uses a tensor-product numbering.
![wrong-cube](https://user-images.githubusercontent.com/14291470/93367125-642b8c80-f84c

[2020-09-17 06:09] chr-engwer opened #9 "Improve pipeline for voxel meshes"
You are using hex-meshes mainly to represent voxel meshes.

In this case you should be able to use some improvements:

1.   it might be better to use the sub-entity center search instead of the normal projection, as you have a structured (voxel) mesh
1.   instead of writing an unstructured grid file for a structured grid it would be more appropriate to go for the structured grid and the filter cel

[2020-09-17 06:13] chr-engwer opened #10 "[MEG] disable the cache"
At least for the high density meshes you should not use the MEG functional cache as it requires too much memory.

Add
[code]
to your configuration.

[2020-09-17 06:13] chr-engwer commented on #7
I created new issues for those things that need to be fixed on the matlab side.

Please feel free to close this issue here...

[2020-09-17 06:44] tmedani commented on #7
Yes, we are using the output mesh from the simbio (the version ft-simbio) and put it in the dfg file to feed Duneuro with it.
I will check what is the difference between these and try to fixe it.

[2020-09-17 06:49] tmedani commented on #10
yes,
I have added this to my testing dataset and it is still computing without apparent errors,
I will let you know, I guess the error related to the grid will appear since I'm using a similar model.

[2020-09-17 06:51] tmedani commented on #7
So, from what I understand, this can be fixed from the matlab side.
we need just to reorder the node numbering?

[2020-09-17 19:50] chr-engwer opened #11 "src_vault onsidered harmful"
https://github.com/brainstorm-tools/bst-duneuro/blob/c65f7b07d0208c3cec0167e5a4fc508a9742262e/config/setup_bst_duneuro.sh#L45

You alternatively offer the option to unpack a tgz stored in the repo. I think this is dangerous, as it might easily diverge from the state of the repositories. I suggest to simply drop this option and remove the file from the repository.

[2020-09-17 21:51] juangpc commented on #7
This will be taken care of in https://github.com/brainstorm-tools/bst-duneuro/issues/8
Closing.

[2020-09-17 21:55] juangpc commented on #9
What implications would this have in the future?
I would prefer (from a limited understanding) the unstructured grid options even if it requires more memory/computation-time. When dealing with mri->mesh libraries we cannot limit our work to those libraries that generate a structured grid.
Or perhaps I'n not really understanding the point?

[2020-09-17 21:59] juangpc commented on #11
It was a solution for when GitLab server was down. I think of it as a backup, a vault, that can't hurt.

[2020-09-17 22:15] tmedani commented on #11
yes, it was the case in the beginning of the project when GitLab was down.
maybe a solution is to check, time to time,  the difference with the state of the repo, and update it from time to time with an auto script.

[2020-09-17 22:42] juangpc commented on #11
See 558ce41ddd59e801a10e93e16c867687dfa666b3

[2020-09-18 06:34] chr-engwer commented on #9
You should distinguish between
 - unstructured tet meshes
 - voxel meshes
 - voxel meshes with node-shift
and potentially in the future
 - unstructured hex meshes

The unstructured hex mesh is currently used, but it imposes more costs. I don't suggest to remove this code path. The proposal is to add an improved code path for voxel meshes.

[2020-09-18 06:52] chr-engwer commented on #11
I still consider this binary blob not good practice. First because you have to make sure that information can't diverge and second because storing binary data (and updating it over and over again) is not something git is made for.

[2020-09-18 06:55] juangpc commented on #9
Thanks.

[2020-09-18 07:34] chr-engwer commented on #11
.. But in the end you need to maintain it :wink:

[2020-09-19 19:30] tmedani commented on #10
This is working,
we will add this option to the duneuro option from Brainstorm
https://github.com/tmedani/brainstorm3/blob/adbeb3b64547a028e670038a3b06fd9bf2fa517e/toolbox/forward/bst_duneuro.m#L417

[2020-09-21 22:45] #10 closed

[2021-01-03 10:40] ftadel opened #13 "First row of gain matrix contains only zeros"
See this discussion on the Brainstorm forum:
https://neuroimage.usc.edu/forums/t/zeros-in-duneuro-gain-matrix/24369

[2021-01-03 21:50] tmedani commented on #13
Hi @ftadel

My answer to this issue is on the forum
https://neuroimage.usc.edu/forums/t/zeros-in-duneuro-gain-matrix/24369/4?u=tmedani

A+

[2021-01-04 07:55] #13 closed

[2021-05-06 16:36] dunjadudu commented on #7
I used a coregistered T1 and T2 to create a FEM mesh with SIMnibs ,and the segmentation seemed to be ok  but the FEM generated isn't aligned with the T1 in the database anymore so  I'm wondering if the problem is solved already ?
What can I do ? I tried also brain2mesh but it gave me errors in the segmentation and in the creation of the surfaces.
![3D_es_output2](https://user-images.githubusercont

[2021-05-06 19:22] tmedani commented on #7
Hi @dunjadudu

Which Brainstorm version are you using?
we have solved this issue a few months ago.

Check also this discussion :
https://neuroimage.usc.edu/forums/t/headmodel-with-eeg-questions/27765

And let us know if you still have the problem.

[2021-05-20 10:51] dunjadudu commented on #7
Hi @tmedani , I'm using 07 May 2021 version , on matlab R2021a , SIMnibs3-2 , working on windows . I did not move the electrodes for coregistration , the problem arise before , because there is no correspondence between segmented MRI (tissues) and MRI imported ( I used T1 and T2 for FEM modeling, with T2 resliced and coregistered correctly on T1 ). How can I avoid the shift ? T1 and T2 come from f

[2021-05-20 19:17] tmedani commented on #7
Do you mean that you imported the T1 and T2 after getting the tissues?

The tissues are generated from the segmentation of T1 and T2, they should be in the same space?

@ftadel do you have any idea about this issue,
is there any change recently?

[2021-05-26 16:55] dunjadudu commented on #7
Hi, I tried using only T1 for the segmentation , thus avoiding the problem with coregistration . The segmentation is now coregistered to the MRI, however the surfaces obtained from FEM are not coregistered with MRI ( I have again a shift).
I don't see error messages during the implementation although I cannot display the FEM mesh . I tried also other options ( Fieldtrip FEM but it fails in surface

[2021-05-26 20:50] tmedani commented on #7
Hi, could you share your MRI or send it in private I will have a look at it.
your MRI may have some missing information, but I can't guess what and why.

[2021-05-26 20:51] tmedani commented on #7
I will close and move this issue from this thread since it's not related to DUNEURO.

[2021-05-26 20:57] tmedani commented on #7
@dunjadudu
please join the discussion in this [https://github.com/brainstorm-tools/brainstorm3/issues/413#issue-902911650)

[2021-05-26 20:57] #7 closed

[2021-05-26 21:01] tmedani commented on #7
https://github.com/brainstorm-tools/brainstorm3/issues/413#issue-902911650